<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>

	<link rel="shortcut icon" href="../img/icon.png" type="image/x-icon" />
	<link rel="stylesheet" href="../CSS/style.css">


	<title>EducaBiblio</title>
</head>

<body>

	<section id="sidebar">
		<a href="#" class="brand">
			<i class="fas fa-book"></i>
			<span class="text">EducaBiblio</span>
		</a>
		<ul class="side-menu top">
			<li>
				<a href="inicio.html">
					<i class='fas fa-home'></i>
					<span class="text">Início</span>
				</a>
			</li>
			<li>
				<a href="livros.html">
					<i class="fas fa-book"></i>
					<span class="text">Livros</span>
				</a>
			</li>
			<li class="active">
				<a href="emprestimos.html">
					<i class="fas fa-undo"></i>
					<span class="text">Empréstimos</span>
				</a>
			</li>
			<li>
				<a href="devolucao.html">
					<i class="fas fa-arrow-left"></i>
					<span class="text">Devoluções</span>
				</a>
			</li>
			<li>
				<a href="aluno.html">
					<i class="fas fa-graduation-cap"></i>
					<span class="text">Alunos</span>
				</a>
			</li>
			<li>
				<a href="turma.html">
					<i class="fas fa-users"></i>
					<span class="text">Turma</span>
				</a>
			</li>
			<li>
				<a href="recomendacoes.html">
					<i class="fas fa-download"></i>
					<span class="text">Recomendações</span>
				</a>
			</li>
			<li>
				<a href="usuarios.html">
					<i class="fas fa-cogs"></i>
					<span class="text">Usuários</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="index.html" class="logout">
					<i class="fas fa-sign-out-alt"></i>
					<span class="text">Deslogar</span>
				</a>
			</li>
		</ul>
	</section>

	<section id="content">
		<nav>
			<i class='fas fa-bars'></i>
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Pesquisar">
					<button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
				</div>
			</form>

			<div class="icons">
				<div id="menu-btn" class="fas fa-question" onclick="abrirPDFEmNovaAba()"></div>
			</div>

			<script>function abrirPDFEmNovaAba() {
					var urlDoPDF = "../img/Manual.pdf";
					window.open(urlDoPDF, '_blank');
				}
			</script>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<a href="#" class="profile">
				<img src="../img/adm.png">
			</a>
		</nav>


		<style>

		</style>
		</head>

		<body>

			<section class="tabela">

				<div class="row">
					<form action="" method="post">
						<h3>Empréstimo de livros</h3>
						<input type="text" placeholder="ID" name="id" required maxlength="50" class="box2"
							autocomplete="off" readonly>
						<select id="role" name="role" class="box select-dark-mode" required>
							<option value="Gênero">Gênero</option>
							<option value="Autoajuda">Autoajuda</option>
							<option value="Biblioteca">Biografia</option>
							<option value="Clássico">Clássico</option>
							<option value="Conto">Conto</option>
							<option value="Fantasia">Fantasia</option>
							<option value="Ficção">Ficção científica</option>
							<option value="Poesia">Poesia</option>
							<option value="Romance">Romance</option>
							<option value="Outro">Outro</option>
						</select>
						<select id="role" name="role" class="box select-dark-mode" required>
							<option value="Livro">Livro</option>
							<option>#</option>
							<option>#</option>
							<option>#</option>
						</select>
						<select id="role" name="role" class="box select-dark-mode" required>
							<option>Turma</option>
							<option>#</option>
							<option>#</option>
						</select>

						<select id="role" name="role" class="box select-dark-mode" required>
							<option>Leitor</option>
							<option>#</option>
							<option>#</option>
							<option>#</option>
						</select>

						<input type="date" placeholder="Data" name="data" required class="box" autocomplete="off"
							required>

						<input type="date" placeholder="Data" name="data" required class="box" autocomplete="off"
							required>

							<input type="text" placeholder="Quantidade" name="quantidade" required class="box" autocomplete="off"
							required>

							<select id="role" name="role" class="box select-dark-mode" required>
								<option>Usuário</option>
								<option>#</option>
								<option>#</option>
								<option>#</option>
							</select>

					<center>	<input type="submit" value="Enviar" class="inline-btn" name="submit"> </center>
					</form>
				</div>
			</section>
			<main>
				<div class="table-data">
					<div class="order">
						<div class="head">
							<h3>Tabela de empréstimos</h3>
							<button class="pdf-button">
								<i class="fas fa-file-pdf"></i></button>

						</div>
						<table>
							<thead>
								<tr>
									<th>
										<center>Livro</center>
									</th>
									<th>
										<center>Gênero</center>
									</th>
									<th>
										<center>ID</center>
									</th>
									<th>
										<center>Turma</center>
									</th>
									<th>
										<center>Leitor</center>
									</th>
									<th>
										<center>Data de empréstimo</center>
									</th>
									<th>
										<center>Data prevista para devolução</center>
									</th>
									<th>
										<center>Quantidade</center>
									</th>
									<th>
										<center>Usuário</center>
									</th>
									<th>
										<center>Editar</center>
									</th>
									<th>
										<center>Excluir</center>
									</th>
									<th>
										<center>E-mail</center>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<center>It, a coisa</center>
									</td>
									<td>
										<center>Fantasia</center>
									</td>
									<td>
										<center>1</center>
									</td>
									
									<td>
										<center>3º DCC</center>
									</td>
									<td>
										<center>Maria Raquel</center>
									</td>
									<td>
										<center>18/09/2023</center>
									</td>
									<td>
										<center>20/09/2023</center>
									</td>
									<td>
										<center>1</center>
									</td>
									<td>
										<center>Bruno</center>
									</td>
									<td>
										<center><button class="edit-button">
												<i class="fas fa-pencil-alt"></i>
											</button></center>
									</td>
									<td>
										<center><button class="delete-button">
												<i class="fas fa-trash-alt"></i>
											</button></center>
									</td>
									<td>
										<center><button class="historico-button">
												<i class="fas fa-envelope"></i>
											</button></center>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

				</div>

				<footer class="footer">

					Copyright @ 2023 por <span>EducaBiblio</span> | Todos os direitos reservados

				</footer>

			</main>
	</section>

</body>

</html>

<script src="../JS/script.js"></script>



</body>

</html>